body {
	background-color: cadetblue;
}

#s-screen {
	margin: 20px 0 0 20px;
	width: 600px;
}

#s-screen-button-row {
	border: 5px solid black;
	margin-top: 30px;
	height: 40px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: cadetblue;
}

#s-screen-button-row button {
	font-weight: 600;
}

#player-s-display-container {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}

.sDisplay {
	width: 280px;
	border: 5px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
}

.sDisplay p {
	margin: 10px 0 0 0;
}

.sDisplayRow {
	margin-top: 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#menu {
	padding: 40px;
	border: black solid 5px;
	display: flex;
	justify-content: space-around;
	background-color: white;
	flex-wrap: wrap;
}

.menuItem {
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menuItem img {
	height: 60px;
	width: 60px;
}

.menuItem p {
	margin: 0;
}

.selectionDisp {
	border: 1px solid black;
	margin: 5px;
	height: 60px;
	width: 60px;
}

#arena {
	margin: 5px;
	height: 95vh;
	display: none; 
	min-height: 500px;
	min-width: 750px;
	justify-content: space-between;
	align-items: center;
	border: 2px solid black;
}

.area {
	height: 100%;
	width: 45%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#split {
	margin: 0;
	width: 5%;
	height: 100%;
	background-color: black;
}

.bar {
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.block {
	display: flex;
	height: 40px;
	width: 200px;
	background-color: white;
	color: black;
	align-items: center;
	justify-content: center;
}

.blockCon {
	border: 2px solid black;
}

.window {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 40px;
	width: 200px;
	border: 2px solid black;
	background-color: white;
}

.doodleDisplay {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 200px;
	width: 200px;
	border: 2px solid black;
	background-color: white;
}

.doodleDisplay img {
}