body {
	background-color: cadetblue;
}

/* STARTING SCREEN MENU & DISPLAY */

#s-screen {
	margin: 20px auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-width: 550px;
	max-width: 550px;
}

#s-screen-display {
	background-color: white;
	min-height: 250px;
	border: black solid 5px;
}

	/*	main displays  */

#menu {
	padding: 20px;
	display: flex;
	justify-content: space-around;
	background-color: white;
	flex-wrap: wrap;
}

#rules {
	display: none;
	margin: auto;
}

#doodle-descriptions {
	display: none;
	align-items: center;
	justify-content: center;
	margin: auto;
}

#doodle-description-display {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.DoodleDescDiv {
	width: 450px;
	margin: 20px;
	display: flex;
}

.DoodleDescDiv img {
	height: 80px;
	width: 80px;
	align-self: center;
	margin-right: 20px;
}

.DoodleDescText {
	display: flex;
	flex-direction: column;
}
	/*	*/

	/* button row container + buttons */

#s-screen-button-row {
	border: 5px solid black;
	margin-top: 30px;
	height: 40px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: cadetblue;
}

#s-screen-button-row button {
	font-weight: 600;
}

	/*	*/

	/* player selection display */

#player-s-display-container {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}

.sDisplay {
	width: 280px;
	border: 5px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
}

.sDisplay p {
	margin: 10px 0 0 0;
}

.sDisplayRow {
	margin-top: 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

	/*	*/

	/* image containers -- DOM manipulation: */

.menuItem {
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menuItem img {
	height: 60px;
	width: 60px;
}

.menuItem p {
	margin: 0;
}

.selectionDisp {
	border: 1px solid black;
	margin: 5px;
	height: 61px;
	width: 61px;
}

.selectionDisp img {
	height: 60px;
	width: 60px;
}

	/*	*/

	/*	*/


/* ARENA */

  /* general */

#arena-container {
	margin: 20px;
	display: none;
	align-items: center;
	justify-content: center;
}

#arena {
	display: flex;  
	min-width: 550px;
	max-width: 800px;
	justify-content: space-between;
	align-items: center;
}

.area {
	height: 100%;
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

	/* 	*/

	/* top display */

#arena h3 {
	margin: 5px;
	color: black;
}

#arena h2 {
	margin: 5px;
	color: black;
}

.doodlePool {
	border: 5px solid black;
	background-color: white;
	margin-bottom: 10px;
}

	/*	*/
	
	/* health display */

.healthBar {
	margin: 10px;
	width: 200px;
	height: 30px;
	z-index: 2;
	background-color: red;
	display: flex;
	flex-direction: column;
}

.healthRemaining {
	height: 30px;
	min-width: 12px;
	display: flex;
	align-items: center;
	z-index: 4;
	background-color: white;
}

.healthRemaining span {
	margin: 2px;
}

#p1-health-remaining {
	justify-content: flex-end;
}

#p2-health-remaining {
	justify-content: flex-start;
	align-self: flex-end;
}



	/* doodle and bat bar */

.doodleDisplay {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 200px;
	width: 200px;
	border: 2px solid black;
	background-color: white;
}

.batBar {
	margin: 10px 0;
}

	/*	*/
	
	/* message area display */

.window {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 40px;
	width: 200px;
	border: 2px solid black;
	background-color: white;
}

.messageWindow {
	border-right: 2px solid black;
	width: 70%;
	height: 100%;
}

	/*	*/

   /* blocking display */

.block {
	display: flex;
	background-color: white;
	color: black;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.block img {
	width: 50%;
	height: 70%;
}

.blockCon {
	background: white;
	width: 30%;
	height: 100%;
}
