body {
	background-color: cadetblue;
}

#battle-bar-container-1 {
	margin-top: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#battle-bar-container-2 {
	margin-top: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}