body {
	background-color: cadetblue;
}

.bar {
	margin-top: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	width: 200px;
}

#battle-bar-container-1 {

}

#battle-bar-container-2 {

}